*.sdf
*.vcxproj.user
*.VC.opendb
.vs
*.DS_Store
*.vsconfig

xcuserdata
*.xcworkspace
xcshareddata

WSATestCertificate.pfx*

UnityProject/*.csproj
UnityProject/*.sln
UnityProject/Library
UnityProject/Temp
UnityProject/UWP
UnityProject/Logs
UnityProject/[Oo]bj/
UnityProject/[Uu]ser[Ss]ettings/


PluginSource/build
PluginSource/projects/Android/libs/*
PluginSource/projects/Android/obj/*